@using LalokNet.Models
@model List<Group>

@{
    Layout = null;
}

<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-wUserIdth" />
    <title>Доступные группы</title>
</head>
<body>
	
<style>
	.groupBlock {
		margin: 28px;
		width: 230px;
		padding: 0;
		cursor: pointer;
		display: inline-block;
		background-color: #F3F3F3;
		float: left;
		text-align: center;
		border-style: ridge;
		border-width: 2px;
		border-color: antiquewhite;
	}

	.groupBlock :hover {
		opacity: 0.8;
	}
</style>

<script>
	
</script>

<div style="margin: 30px auto; width: 580px;">
	@foreach (var group in Model)
	{
		<div class="groupBlock" onclick="location.href='@Url.Action("GroupPage", new { groupStringId = group.StringId })'">
			<img src="@(group.Image)" style="padding: 0; margin: 15px 15px 0 15px;"/>
			<div style="padding: 2px 0px 2px 0px; font-size: 16pt; font-family: sans-serif;">@(@group.Name)</div>
		</div>	
	}

</div>

</body>
</html>
